In [ ]:
#!pip install pandas
#!pip install numpy

#!pip install openpyxl

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Customer Call List.xlsx')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [4]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
dtype: bool

In [5]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
dtype: bool

In [6]:
df = df.drop(columns = 'Not_Useful_Column')

In [7]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [8]:
# Clean Last name

df['Last_Name'] = df['Last_Name'].str.strip('/._')

In [9]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [10]:
df.Phone_Number

0     123-545-5421
1     123/643/9775
2       7066950392
3     123-543-2345
4     876|678|3469
5     304-762-2467
6              NaN
7     876|678|3469
8              N/a
9     123-545-5421
10             NaN
11      7066950392
12    123-543-2345
13    876|678|3469
14    304-762-2467
15    123-545-5421
16    123/643/9775
17      7066950392
18             N/a
19    876|678|3469
20    876|678|3469
Name: Phone_Number, dtype: object

In [11]:
df['Phone_Number'] = df['Phone_Number'].str.replace(r'\D', '', regex = True)

In [12]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [13]:
df['Cleaned_Phone_Number'] = np.where(
    df['Phone_Number'].str.len() == 10,
    df['Phone_Number'].str.slice(0, 3) + '-' +
    df['Phone_Number'].str.slice(3, 6) + '-' +
    df['Phone_Number'].str.slice(6, 10),
    np.nan
)

In [14]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,123-545-5421
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,123-643-9775
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,123-543-2345
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,876-678-3469
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,304-762-2467
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,876-678-3469
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,123-545-5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,NaN
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,123-543-2345
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,876-678-3469
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,304-762-2467
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,123-545-5421
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,123-643-9775
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes,NaN
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469

In [17]:
df = df.drop(columns = 'Phone_Number')
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Yes,No,123-545-5421
1,1002,Abed,Nadir,93 West Main Street,No,Yes,123-643-9775
2,1003,Walter,White,298 Drugs Driveway,N,NaN,NaN
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,123-543-2345
4,1005,Jon,Snow,123 Dragons Road,Y,No,876-678-3469
5,1006,Ron,Swanson,768 City Parkway,Yes,Yes,304-762-2467
6,1007,Jeff,Winger,1209 South Street,No,No,NaN
7,1008,Sherlock,Holmes,98 Clue Drive,N,No,876-678-3469
8,1009,Gandalf,NaN,123 Middle Earth,Yes,NaN,NaN
9,1010,Peter,Parker,"25th Main Street, New York",Yes,No,123-545-5421
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Yes,No,NaN
11,1012,Harry,Potter,2394 Hogwarts Avenue,Y,NaN,NaN
12,1013,Don,Draper,2039 Main Street,Yes,N,123-543-2345
13,1014,Leslie,Knope,343 City Parkway,Yes,No,876-678-3469
14,1015,Toby,Flenderson,214 HR Avenue,N,No,304-762-2467
15,1016,Ron,Weasley,2395 Hogwarts Avenue,No,N,123-545-5421
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Yes,No,123-643-9775
17,1018,Clark,Kent,3498 Super Lane,Y,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,Yes,NaN
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469

In [15]:
# Display the phone number column without NaN

df['Cleaned_Phone_Number'] = df['Cleaned_Phone_Number'].fillna('')

In [16]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,123-545-5421
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,123-643-9775
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,123-543-2345
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,876-678-3469
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,304-762-2467
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,876-678-3469
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,123-545-5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,123-543-2345
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,876-678-3469
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,304-762-2467
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,123-545-5421
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,123-643-9775
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,
18,1019,Creed,Braton,,N/a,N/a,Yes,
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469

In [17]:
df[['Street_Address', 'State', 'Zip_Code']] = df['Address'].str.split(pat = ',', n = 2, expand = True)

In [18]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,123-545-5421,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,123-643-9775,93 West Main Street,None,None
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,123-543-2345,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,876-678-3469,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,304-762-2467,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,876-678-3469,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,123-545-5421,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,123-543-2345,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,876-678-3469,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,304-762-2467,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,123-545-5421,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,123-643-9775,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,876-678-3469,910 Tatooine Road,Tatooine,None

In [19]:
df = df.drop(columns = 'Address')

In [20]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Yes,No,123-545-5421,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,123-643-9775,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,123-543-2345,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,876-678-3469,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,304-762-2467,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,No,No,,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,876-678-3469,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Yes,NaN,,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,123-545-5421,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Yes,No,,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,123-543-2345,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,876-678-3469,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,304-762-2467,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,123-545-5421,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,123-643-9775,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Yes,,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,876-678-3469,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Yes,N,876-678-3469,910 Tatooine Road,Tatooine,None

In [21]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes', 'Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No', 'N')

In [22]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Yes,N,123-545-5421,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Y,123-643-9775,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,123-543-2345,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Y,304-762-2467,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,No,N,,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Yes,NaN,,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,N,123-545-5421,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Yes,N,,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,123-543-2345,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,N,876-678-3469,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,123-545-5421,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,N,123-643-9775,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Y,,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,876-678-3469,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Yes,N,876-678-3469,910 Tatooine Road,Tatooine,None

In [23]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')

In [24]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123-545-5421,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,N,Y,123-643-9775,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Y,Y,123-543-2345,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Y,Y,304-762-2467,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,N,N,,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Y,NaN,,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Y,N,123-545-5421,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Y,N,,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Y,N,123-543-2345,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,N,876-678-3469,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,123-545-5421,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,N,123-643-9775,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Y,,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,None

In [25]:
df = df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123-545-5421,123 Shire Lane,Shire,
1,1002,Abed,Nadir,1236439775,N,Y,123-643-9775,93 West Main Street,,
2,1003,Walter,White,,N,,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,1235432345,Y,Y,123-543-2345,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,,
5,1006,Ron,Swanson,3047622467,Y,Y,304-762-2467,768 City Parkway,,
6,1007,Jeff,Winger,,N,N,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,,
8,1009,Gandalf,,,Y,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,123-545-5421,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Y,N,,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Y,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,123-543-2345,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,876-678-3469,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,123-545-5421,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,123-643-9775,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Y,,,3498 Super Lane,,
18,1019,Creed,Braton,,N/a,Y,,N/a,,
19,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,
20,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,

In [26]:
for i in df.index:
    if df.loc[i, 'Do_Not_Contact'] == 'Y':
        df.drop(i, inplace = True)

In [27]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123-545-5421,123 Shire Lane,Shire,
2,1003,Walter,White,,N,,,298 Drugs Driveway,,
4,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,,
6,1007,Jeff,Winger,,N,N,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,,
8,1009,Gandalf,,,Y,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,123-545-5421,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Y,N,,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Y,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,123-543-2345,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,876-678-3469,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,123-545-5421,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,123-643-9775,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Y,,,3498 Super Lane,,
19,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,
20,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,

In [28]:
for x in df.index:
    if df.loc[x, 'Cleaned_Phone_Number'] == '':
        df.drop(x, inplace = True)

In [29]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123-545-5421,123 Shire Lane,Shire,
4,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,,
7,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,,
9,1010,Peter,Parker,1235455421,Y,N,123-545-5421,25th Main Street,New York,
12,1013,Don,Draper,1235432345,Y,N,123-543-2345,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,876-678-3469,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,123-545-5421,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,123-643-9775,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,
20,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,

In [30]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123-545-5421,123 Shire Lane,Shire,
4,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,,
7,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,,
9,1010,Peter,Parker,1235455421,Y,N,123-545-5421,25th Main Street,New York,
12,1013,Don,Draper,1235432345,Y,N,123-543-2345,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,876-678-3469,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,123-545-5421,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,123-643-9775,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,

In [31]:
df = df.reset_index(drop = True)

In [32]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Cleaned_Phone_Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123-545-5421,123 Shire Lane,Shire,
1,1005,Jon,Snow,8766783469,Y,N,876-678-3469,123 Dragons Road,,
2,1008,Sherlock,Holmes,8766783469,N,N,876-678-3469,98 Clue Drive,,
3,1010,Peter,Parker,1235455421,Y,N,123-545-5421,25th Main Street,New York,
4,1013,Don,Draper,1235432345,Y,N,123-543-2345,2039 Main Street,,
5,1014,Leslie,Knope,8766783469,Y,N,876-678-3469,343 City Parkway,,
6,1015,Toby,Flenderson,3047622467,N,N,304-762-2467,214 HR Avenue,,
7,1016,Ron,Weasley,1235455421,N,N,123-545-5421,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,1236439775,Y,N,123-643-9775,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,8766783469,Y,N,876-678-3469,910 Tatooine Road,Tatooine,